body {
    background-color: dimgrey;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    border-radius: 5px;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}